@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background: rgb(17,17,36);
    background: linear-gradient(214deg, rgba(17,17,36,1) 18%, rgba(51,31,64,1) 55%, rgba(23,75,156,1) 100%);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
}

h1.title{
    color: white;
}

.website-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin: 2rem;
}

.website-header h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.home-grid {
    display: grid;
    grid-template-columns: auto 375px;
    column-gap: 30px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 64px 0 rgba(19, 20, 51, 0.37);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-grid {
    display: grid; 
    grid-template-rows: 20% 10% 35% 10% auto; 
    row-gap: auto; 
    color: white;
}

.card-grid h1 {
    font-family:'Courier New', Courier, monospace;
}

.card-grid p {
    font-family:'Courier New', Courier, monospace;
}

.error {
    color: rgb(246, 52, 52);
}
